  <footer class="footer-area">
    <div class="container">
      <div class="footer">
        <div class="credits">
          <ul>
            <li>Node</li>
            <li>Express</li>
            <li>EJS</li>
            <li>With Love</li>
            <li>By <a target="_blank" rel="noopener noreferrer" href="https://www.zonayed.me">Zonayed Ahmed</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.github.com/zonayedpca/node-authentication">Source Code</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
