<% include partials/header %>

<header class="intro-area">
  <div class="container">
    <% include partials/menubar %>
  </div>
</header>

<section class="404-area section-padding">
  <div class="container">
    <div class="404">
      <div class="card">
        <h2>Not Found</h2>
        <p>The Page You are Looking for is not Found!</p>
      </div>
    </div>
  </div>
</section>

<% include partials/footer %>
