<% include partials/header %>

<header class="intro-area">
  <div class="container">
    <% include partials/menubar %>
  </div>
</header>

<section class="login-area section-padding">
  <div class="container">
    <div class="login">
      <div class="card">
        <h2>Login</h2>
        <form class="form login-form" action="/login" method="POST">
          <input type="text" name="username" placeholder="Your username">
          <input type="password" name="password" placeholder="Your password">
          <button type="submit" class="btn btn-login">Login</button>
          <a href="/register" class="btn singup">Sign up</a>
        </form>
      </div>
    </div>
  </div>
</section>

<% include partials/footer %>
