<% include partials/header %>

<header class="intro-area">
  <div class="container">
    <% include partials/menubar %>
    <% include partials/intro %>
  </div>
</header>

<section class="content-area section-padding">
  <div class="container">
    <% include partials/content %>
  </div>
</section>

<% include partials/footer %>
