<% include partials/header %>

<header class="intro-area">
  <div class="container">
    <% include partials/menubar %>
  </div>
</header>

<section class="content-area section-padding">
  <div class="container">
    <% include partials/singlecontent %>
  </div>
</section>

<% include partials/footer %>
